/*
 * Copyright (c) 2020 The ZMK Contributors
 *
 * SPDX-License-Identifier: MIT
 */

#include <behaviors.dtsi>
#inc
            display-name = "EXTRA 1";
            bindings = <
                trans trans trans trans trans  trans trans trans trans trans 
                trans trans trans trans trans  trans trans trans trans trans 
                trans trans trans trans trans  trans trans trans trans trans 
                    trans trans trans               trans trans trans       
            >;
        };

        extra_layer_2 {
            display-name = "EXTRA 2";
            bindings = <
                trans trans trans trans trans  trans trans trans trans trans 
                trans trans trans trans trans  trans trans trans trans trans 
                trans trans trans trans trans  trans trans trans trans trans 
                    trans trans trans               trans trans trans     
            >;
        };

        extra_layer_3 {
            display-name = "EXTRA 3";
            bindings = <
                trans trans trans trans trans  trans trans trans trans trans 
                trans trans trans trans trans  trans trans trans trans trans 
                trans trans trans trans trans  trans trans trans trans trans 
                    trans trans trans               trans trans trans     
            >;
        };

        extra_layer_4 {
            display-name = "EXTRA 4";
            bindings = <
                trans trans trans trans trans  trans trans trans trans trans 
                trans trans trans trans trans  trans trans trans trans trans 
                trans trans trans trans trans  trans trans trans trans trans 
                    trans trans trans               trans trans trans       
            >;
        };

        extra_layer_5 {
            display-name = "EXTRA 5";
            bindings = <
                trans trans trans trans trans  trans trans trans trans trans 
                trans trans trans trans trans  trans trans trans trans trans 
                trans trans trans trans trans  trans trans trans trans trans 
                    trans trans trans               trans trans trans        
            >;
        };

        extra_layer_6 {
            display-name = "EXTRA 6";
            bindings = <
                trans trans trans trans trans  trans trans trans trans trans 
                trans trans trans trans trans  trans trans trans trans trans 
                trans trans trans trans trans  trans trans trans trans trans 
                    trans trans trans               trans trans trans         
            >;
        };
    };
};


